In [4]:
import pandas as pd 
import numpy as np

In [8]:
veriler=np.random.randint(1,50,([4,5])) 
#numpy sınıfından 1 den 50 ye kadar 4 satır 5 sütünlük rastgele sayılardan oluşan bir dizi oluşturdum

In [10]:
veriler

array([[ 6, 32, 31,  7, 19],
       [13,  8, 34, 44, 28],
       [44, 47, 13, 33, 34],
       [47, 21, 32, 17, 12]])

In [12]:
df=pd.DataFrame(veriler) 
#veriler dizisinden oluşan df adında bir dataframe oluşturduk

In [14]:
df

    0   1   2   3   4
0   6  32  31   7  19
1  13   8  34  44  28
2  44  47  13  33  34
3  47  21  32  17  12

In [38]:
df=pd.DataFrame(veriler,columns=["s1","s2","s3","s4","s5"],index=["st1","st2","st3","st4",])

In [40]:
df

     s1  s2  s3  s4  s5
st1   6  32  31   7  19
st2  13   8  34  44  28
st3  44  47  13  33  34
st4  47  21  32  17  12

In [54]:
veriler=[["medine","kanat",16],["kevser","ramazanoğlu",16]]

In [58]:
df=pd.DataFrame(veriler,columns=["isim","soyisim","yaş"],index=["öğr1","öğr2"])
df

        isim      soyisim  yaş
öğr1  medine        kanat   16
öğr2  kevser  ramazanoğlu   16

In [60]:
df=pd.read_csv("diabetes_data_upload.csv")

In [62]:
df

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,Female,Yes,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No,No,No,Positive
516,48,Female,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Yes,No,No,No,Positive
517,58,Female,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,No,Yes,Yes,No,Yes,Positive
518,32,Female,No,No,No,Yes,No,No,Yes,Yes,No,Yes,No,No,Yes,No,Negative
519,42,Male,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Negative

In [64]:
df.head(2)#iki satırı gösterir

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive

In [66]:
df.tail(3)#sondan 3 satırı gösterir

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
517,58,Female,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,No,Yes,Yes,No,Yes,Positive
518,32,Female,No,No,No,Yes,No,No,Yes,Yes,No,Yes,No,No,Yes,No,Negative
519,42,Male,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Negative

In [68]:
df.shape #satır ve sütün sayısını verir

(520, 17)

In [70]:
df.info() #veri setiyle ilgili bilgiler verir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 520 non-null    int64
 1   Gender              520 non-null    object
 2   Polyuria            520 non-null    object
 3   Polydipsia          520 non-null    object
 4   sudden weight loss  520 non-null    object
 5   weakness            520 non-null    object
 6   Polyphagia          520 non-null    object
 7   Genital thrush      520 non-null    object
 8   visual blurring     520 non-null    object
 9   Itching             520 non-null    object
 10  Irritability        520 non-null    object
 11  delayed healing     520 non-null    object
 12  partial paresis     520 non-null    object
 13  muscle stiffness    520 non-null    object
 14  Alopecia            520 non-null    object
 15  Obesity             520 non-null    object
 16  class               520 non-null    object
dtypes: int64(1), object(16)
memory usage: 69.2+ KB

In [72]:
df.ndim #veri setinin boyutunu verir

2

In [74]:
df.size #veri setinde kaç adet veri olduğunu verir

8840